body{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 2;
}

.bc-unbleached{
    background-color: #fbf6ec;
}

.pd80{
    padding: 80px 0;
}

.mg80{
    margin: 80px 0;
}

.w1200 {
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
}

.w750{
    max-width: 750px;
    width: 96%;
    margin: 0 auto;
}

.w500 {
    max-width: 500px;
    width: 96%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.right{
    margin: 0 0 0 auto;
}

img{
    width: 100%;
}

.ttl h2{
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 0;
    padding-bottom: 40px;
    color: #213a70;
}

.ttl-img{
    width: 10%;
    display: inline-block;
}

@media (max-width: 768px){
    .ttl h2{
        font-size: 35px;
    }
    .ttl-img {
        width: 30%;
    }

}